/* ======= All code herein is the intellectual property of Darrien J. Persad and may not be reproduced or modified in any way without written consent. ======= */

*
{
margin: 0;
padding: 0;
overflow: hidden;
}

/* ======= For the home page ======= */

#logo_div
{
width: 72.9%;
height: 74%;
margin-top: 50px;
margin-left: auto;
margin-right: auto;
position: relative;
z-index: 10;
}

#logo
{
position: relative;
margin-left: auto;
margin-right: auto;
height:27.28%;
width:15.63%;
}

#typeface
{
width: 62.5%;
height: 55%;
margin-left: auto;
margin-right: auto;
font-size: 3.1vw;
font-family: bebasregular;
color: #fff;
text-align: center;
padding-top: 40px;
}

#since
{
font-size: 3vw;
color: #245482;
}

#slider
{
width: 100%;
height: 100%;
z-index: -1;
position: absolute;
display: none;
background-color: black;
}

#slider img
{
width: 100%;
height: 100%;
overflow: hidden;
padding: 0px;
margin: 0px;
}

#menu_container
{
width: 100%;
height: 10vw;
margin-top: 0px;
text-align: center;
text-transform: uppercase;
font-size: 2.5vw;
font-family: bebaslight;
position: absolute;
display: none;
z-index: 11;
}

#menu
{
width: 100%;
height: 100px;
margin-top: 4.17%;
overflow: hidden;
}

#menu a
{
list-style-type: none;
text-decoration: none;
color: white;
padding: 30px;
}

#menu ul
{
padding: 0px;
margin: 10px;
}


#menu li
{
display: inline-block;
background-color: #51082d;
}

#menu a:hover
{
color: #51082d;
background-color: #0c4175;
}

#arrow
{
width: 10.4%;
height: 13.8%;
margin-left: 44.64%;
margin-top: 4.63%;
position: relative;
-webkit-animation: animates  3s infinite;
}

#arrow_down
{
width: 5vw;
height: 5vw;
margin-left: 72vw;
margin-top: 2vw;
position: absolute;
}

.x
{
fill: #fff;
padding: 1vw;
width: 2vw;
height: 1.6vw;
}

.arrowu
{
fill: #fff;
width:104.2%; 
height:185.2%;
}

.arrowu:hover
{
fill: #0c4175;
}


@-webkit-keyframes animates
{
	0%{margin-top: 50px;}
	20%{margin-top: 50px;}
	40%{margin-top: 10px;}
	50%{margin-top: 50px;}
	60%{margin-top: 10px;}
	80%{margin-top: 50px;}
	100%{margin-top: 50px;}	
}

#mute_button
{
width: 50px;
height: 100px;
position: absolute;
margin-left: 1870px;
margin-top: -830px;
}

.mute_button_2
{
width: 100px;
height: 100px;
position: absolute;
margin-left: 20px;
margin-top: 735px;
}

#media_box_index
{
width: 26vw;
height: 20vh;
position: absolute;
margin-top: 1vw;
margin-left: 80vw;
float: right;
z-index: 12;
overflow: hidden;
}

#media_box_index li
{
list-style-type: none;
display: inline-block;
margin-left: 1vw;	
margin-top: 0.7vw;
padding: 1vw;
width: 3vw;
height: 2.4vw;
}

/* ======= For all pages ======= */

.page_background
{
width: 100%;
height: 100%;
overflow: hidden;
background-color: #292929;
}

.banner
{
width: 100%;
height: 10vw;
background-color: #999;
font-size: 3.5vw;
color: #51082d;
font-family: bebasbook;
text-align: center;
}

#the_banner
{
margin-top: 10px;
margin-left: auto;
margin-right: auto;
}

.body_content
{
width: 72.92%;
height: 500px;
background-color: #204262;
margin-left: auto;
margin-right: auto;
margin-top: 50px;
}

h3
{
text-align: center;
font-family: bebaslight;
font-size: 4.8vw;
color: #51082d;
}

.never_show
{
display: none;
}

.texts
{
width: 60vw;
margin-left: auto;
margin-right: auto;
font-family: neue;
color: white;
text-align: left;
}

.media_box
{
width: 26vw;
height: 20vh;
position: relative;
margin-top: -5vw;
float: right;
opacity: 0.1%;
}

.media_box li
{
list-style-type: none;
display: inline-block;
margin-left: 1vw;	
margin-top: 0.7vw;
padding: 1vw;
width: 3vw;
height: 2.4vw;
}

.svg_fill
{
fill: #51082d;
}

.menu
{
width: 4vw;
fill: #51082d;
position: absolute;
z-index: 20;
}

.menu_div
{
width: 10.9vw;
height: 100%;
position: absolute;
background-color: #555;
opacity: 0.9;
display: none;
z-index: 21;
}

.menu_div ul
{
width: 100%;
height: 40vh;
margin-top: 10vw;
}

.menu_div li
{
text-decoration: none;
list-style-type: none;
width: 100%;
padding-bottom: 0.2vh;
}

.menu_div ul a
{
font-size: 2vw;
color: #0c4175;
font-family: bebasbold, arial;
background-color: #51082d;
text-decoration: none;
list-style-type: none;
overflow-x: hidden;
padding-left: 3vw;
padding-right: 5.3vw;
padding-top: 1vw;
}

.menu_div a:hover
{
color: #51082d;
background-color: #0c4175;
opacity: 1.0;
}

.x2
{
width: 3vw;
height: 2vw;
position: absolute;
fill: white;
margin-top: 3vw;
margin-left: 3.5vw;
}

/* ======= For the About Page ======= */

#about
{
font-size: 1.4vw;
margin-top: 10px;
}


/* ======= For the Team Page ======= */

#team_page_container_1
{
width: 84.37%;
height: 64.81%;
background-color: black;
margin-left: auto;
margin-right: auto;
margin-top: 40px;
}

.staff_member_box
{
width: 19.8vw;
height: 67.6%;
position: absolute;
}

.staff_member_picture
{
width: 100%;
height: 68%;
padding-top: 0%;
}

.staff_member_info
{
width: 100%;
height: 25vh;
background-color: #444;
font-family: neue;
font-size: 0.9vw;
color: white;
padding: 0.5vw;
}

.staff_member_title
{
width: 100%;
height: 3vh;
margin-top: 40.75vh;
background-color: #000;
opacity: 0.6;
color: white;
font-size: 2vh;
text-transform: italic;
font-family: helvetica,sans-serif;
padding-top: 5.6%;
text-indent: 6%;
position: absolute;
}

#team_page_container_1 img
{
width: 20vw;
height: 58vh;
}

#kelvin
{
margin-left: 1%;
}

#zina
{
margin-left: 21.8%;
}

#khayyam
{
margin-left: 42.6%;
}

#kerry
{
margin-left: 63.4%;
}

/* ======= For the Services Page ======= */

#content_container
{
width: 80%;
height: 62.96%;
margin-left: 10.54%;
margin-top: 2.78%;
position: absolute;
}

#circles_subcontainer
{
width: 100%;
height: 62.96%;
margin-top: 18%;
position: absolute;
}

#content_box
{
width: 52.08%;
height: 18.52%;
position: absolute;
margin-left: 13.02%;
margin-top: 6.11%;
color: white;
font-size: 2.7vw;
font-family: neue, helvetica;
text-align: left;
}


#circles_subcontainer li
{
list-style-type: none;
display: inline-block;
width: 22%;
height: 30vh;
background-color: #0c4175;
margin-top: 2.6%;
margin-left: 3.24%;
}

#circles_subcontainer a
{
list-style-type: none;
text-decoration: none;
color: #fff;
width: 100%;
height: 100%;
padding: 100%;
}

#container_of_containers
{

}

#option1
{
position: absolute;
width: 13.47vw;
height: 100%;
}

#option2
{
position: absolute;
width: 12.24vw;
height: 100%;
margin-left: 13.7vw;
}

#option3
{
position: absolute;
width: 18.7vw;
height: 100%;
margin-left: 26.2vw;
}

#option4
{
position: absolute;
width: 15.55vw;
height: 100%;
margin-left: 45.21vw;
}

#option5
{
position: absolute;
width: 18.7vw;
height: 100%;
margin-left: 61.15vw;
}

.service_1optioncontent
{
width: 100%;
height: 100%;
position: absolute;
background-color: #51082d;
display: none;
}

#textbox
{
width: 62.5%;
height: 18.8%;
position: absolute;
margin-left: 18%;
margin-top: 5.26%;
color: white;
font-size: 2.3vw;
font-family: neue, Arial;
text-align: center;
}

#textboxalone
{
width: 30vw;
height: 6vh;
position: absolute;
margin-left: 30%;
margin-top: 20%;
color: white;
font-size: 5vh;
font-family: neue, Arial;
text-align: center;
}

.cruise
{
width: 100%;
height: 20vh;
margin-left: auto;
margin-right: auto;
margin-top: 20%;
background-color: #51082d;
}

.cruise ul li
{
display: inline-block;
list-style-type: none;
}

.cruise ul
{
margin-left: 5.8vw;
}

.cruise li
{
padding-right: 0.5vw;
}

.cruise ul li img
{
width: 22vw;
height: 25vh;
}

.airlines
{
width: 100%;
height: 20vh;
margin-left: auto;
margin-right: auto;
margin-top: 20%;
background-color: #fff;
}

.airlines ul
{
margin-left: 4vw;
}

.airlines ul li
{
list-style-type: none;
display: inline-table;
padding-right: 2vw;
}

.airlines ul li img
{
width: 10vw;
height: 11vh;
}

.hoverblur:hover
{
  background-color: #51082d;
  opacity: 0.2;
}

#flourish
{
position: absolute;
margin-left: 28.7vh;
margin-top: 7.5vh;
}

.show
{
width: 100%;
height: 100%;
position: absolute;
display: none;
}

.show img
{
width: 100%;
height: 100%;
}


#arrow_up
{
width: 5vw;
height: 6vh;
margin-left: 41vw;
margin-right: auto;
margin-top: 66vh;
position: absolute;
overflow: hidden;
padding-left: 100px;
padding-right: 100px;
display: none;
}


.text
{
font-family: neue;
text-align: center;
text-transform: uppercase;
color: white;
margin-left: auto;
margin-right: auto;
margin-top: 60px;
font-size: 30px;
}

#the_end
{
margin-left: 75vw;
margin-top: 2vw;
width: 3vw;
fill:#fff;
position: absolute;
}

/* ======= For the Contact Us Page ======= */

#map_container
{
width: 52.08%;
height: 30%;
background-color: #444;
margin-top: 4%;
margin-left: 5%;
text-align: center;	
}

#contact_container
{
width: 31.25%;
height: 55.56vh;
margin-left: 62.5%;
margin-top: -600px;
position: relative;
}

#horizontal_line
{
margin-top: 50%;
}

#vertical_line
{
margin-top: -50%;
margin-left: 47%;
width: 0%;
height: 100%;
}

.little_box
{
width: 40%;
height: 27.69vh;
font-family: neue;
color: white;
text-align: center;
font-size: 1.2vw;
}

#box1
{
margin-left: 3%;
margin-top: 20%;
position: absolute;
}

#box2
{
margin-left: 55%;
margin-top: 20%;
position: absolute;	
}

#box3
{
margin-left: 3%;
margin-top: 60%;
position: absolute;	
}

#box4
{
margin-left: 55%;
margin-top: 60%;
position: absolute;	
}

#box4 li
{
padding: 10px;
}

#box4 a
{
text-decoration: none;
list-style-type: none;
color: white;
padding: 5px;
background-color: #555;
}

#box4 a:hover
{
background-color: #111;
color: #999;
border: 1px solid #51082d;
}





