*
{
margin: 0;
padding: 0;
}

/*+++++++++ DEFAULT CLASSES (DONT USE HEAVY GUNNING, JARED) +++++++++*/

.text_middle
{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
text-align: center;
}

.text_centerX
{
position: absolute;
left: 50%;
transform: translate(-50%, 0%);
text-align: center;
}

.text_centerY
{
position: absolute;
top: 50%;
transform: translate(0%,-50%);
text-align: center; 	
}

/*+++++++++ END OF DEFAULT CLASSES +++++++++*/

#background
{
position: absolute;
width: 100%;
height: 100%;
z-index: -10;
background: -webkit-radial-gradient(#16182c,#131527,#0e0f1c,#05060b);
background: -moz-radial-gradient(#16182c,#131527,#0e0f1c,#05060b);	
background: -o-radial-gradient(#16182c,#131527,#0e0f1c,#05060b);	
background: -ms-radial-gradient(#16182c,#131527,#0e0f1c,#05060b);
}

#layer_1
{
width: 100%;
height: 100%;
z-index: 10;
overflow: hidden;
}

#logo_container
{
position: absolute;
top: 45%;
width: 40%;
height: 60%;
text-align: center;
}

#logo_div
{
position: absolute;
left: 8%;
height: 70%;
text-align: center;
font-size: 9vw;
z-index: 1;
/*fill:#454656;*/
fill: #877466;
stroke:#FFFFFF;
stroke-width:2;
stroke-linejoin: round;		
display: none;
}

#motto
{
position: absolute;
color: #fff;
font-family: bebasbold;
font-size: 5vw;
top: 50%;
left: 50%;
transform: translate(-50% , -100%);
display: none;
}

#menu_div
{
position: absolute;
width: 100%;
top: 77%;
font-family: bebasbook;
z-index: 2;
display: none;
}	

#menu_div ul
{
margin-left: 0%; 
}

#menu_div li
{	
display: inline-block;
text-align: center;
padding: 2%;
width: 40%;
}

#menu_div a
{
list-style-type: none;
text-decoration: none;
}

.fix1
{
padding: 5%; 
border: 0.09em solid #f8be78;
border-radius: 0.2em;
font-size: 1.5vw;
font-family: sans-serif;
color: #fff;
}

.fix1:hover
{
background-color: #f8be78;
}

#media_div
{
margin-left: 1.5%;
position: absolute;
height: 20%;
width: 20%;
display: none;
}

#media_div ul
{
width: 100%;
height: 99%;
margin-top: 1%;
}

#media_div li
{
margin-top: 5%;
width: 20%;
display: inline-block;
}

#media_div a
{
list-style-type: none;
}

.media_item1
{
margin-top: 1%;
width: 75%;
height: 75%;
fill: #f8be78;
}

.media_item1:hover
{
fill: #3b5998;
}

.media_item2
{
margin-top: 1%;
width: 75%;
height: 75%;
fill: #f8be78;
}

.media_item2:hover
{
fill: #4099ff;
}

.media_item3
{
margin-top: 1%;
width: 75%;
height: 75%;
fill: #f8be78;
}

.media_item3:hover
{
fill: #64D448;
}

#whatsappno
{
position: absolute;
top: 3%;
left: 15%;
width: 15%;
height: 5%;
color: #f8be78;
background-color: #222;
text-align: center;
text-decoration: none;
font-size: 1.2vw;
font-family: michroma;
border: 0.09em solid #f8be78;
border-radius: 0.2em;
display: none;
}

/*=========LAYER 2 ===========*/
#layer_2
{
position: absolute;
width: 100%;
height: 100%;
display: none;
}

#fancy_text
{
position: absolute;
width: 40%;
height: 20%;
}

#container
{
position: absolute;
width: 100%;
height: 65%;
top:50%;
transform:translate(-0%, -50%);
}

.option_layer_2
{
position: absolute;
width: 35%;
height: 100%;
}

#web_dev
{
position: absolute;
margin-left: 14%;
font-size: 7vw;
overflow: hidden;
background-color: #333;
}

#pc
{
position: absolute;
margin-left: 52%;
font-size: 8vw;
overflow: hidden;
background-color: #333;

}

.option_layer_2 a
{
text-decoration: none;
color: white;
font-family: bebasbold;
z-index: 1;
color: red;
}

.option_layer_2 img
{
position: absolute;
z-index: -1	;	
width: 100%;
height: 100%;
}

/*=========LAYER 2 END===========*/

/*=========LAYER 2_1===========*/
#layer_2_1
{
position: absolute;
width: 100%;
height: 100%;
overflow: hidden;
display: none;
}

.blur_image
{
-webkit-filter: blur(0.5em);
}


#layer_2_1 img
{
position: absolute;
height: 100%;
width:100%;
}

#web_title
{
position: absolute;
top:8%;
text-align: center;
height: 20%;
width: 100%;
color:  #f8be78;
font-size:8vw;
font-family: bebasbook;
}

#web_text
{
position: absolute;
background-color:none;
top: 45%;
left:19.1%;
text-align: center;
height: 46%;
width: 60%;
color: white;
font-family: Consolas;
font-size: 1.6vw;
text-align: left;
}

#req_web_button
{
position: absolute;
background-color: #444;
top:70%;
left:36%;
height: 6.5%;
width:17%;
font-family: bebaslight;
font-size: 2.5vw;
color: white;
padding: 3%;
border-style: solid;
border-radius: 0.2em;
}

#req_web_button:hover
{
background-color: #333;
}
/*=========LAYER 2_1 END===========*/

/*=========LAYER 2_2===========*/

#background_services
{
position: absolute;
width: 100%;
height: 100%;
z-index: -10;
background: -webkit-radial-gradient(#16182c,#131527,#0e0f1c,#05060b);
background: -moz-radial-gradient(#16182c,#131527,#0e0f1c,#05060b);	
background: -o-radial-gradient(#16182c,#131527,#0e0f1c,#05060b);	
background: -ms-radial-gradient(#16182c,#131527,#0e0f1c,#05060b);
overflow: hidden;
}

#layer_2_2
{
position: absolute;
width: 100%;
height: 100%;
display: none;
overflow: hidden;
}

#service_form_back
{
position:absolute;
top:50%;
left: 60%;
transform: translate(-120% , -50%);
width: 40%;
height: 80%;
background-color: #3d3d3d;
border-radius: 5%;
opacity: 0.75;
}

#service_form
{
position:absolute;
top:50%;
left: 60%;
transform: translate(-120% , -55%);
width: 40%;
height: 80%;
border-radius: 5%;
}

#serviceform_title
{
position: absolute;
width: 100%;
margin-top: -20%;
text-align: center;
font-family: michroma;
font-size: 2.5vw;
color: #f8be78;
text-decoration: none;
}

#serviceform_boxes
{
position:absolute;
text-align: left;
top: 30%;
left: 6%;
width: 100%;
height: 100%;
z-index: 6;
}

#service_form_text
{
position: absolute;
width: 100%;
height: 100%;
font-family: rbno2lightalternative;
font-size: 2vw;
text-align: left;
margin-left: 3%;
margin-top: 26%;
color: #f8be78;
z-index: 6;
}

#service_form_text p
{
font-family: rbno2lightalternative;
font-size: 2vw;
text-align: left;
margin-left: 3%;
margin-top: -1%;
margin-bottom: 12%;
color: #f8be78;
}

.serviceform_entity
{
border: none;
width: 87%;
background-color: #222;
margin-bottom: 9.5%;
font-family: rbno2lightalternative;
text-align: center;
font-size: 2vw;
color: white;
padding: 0.7%;
}

.serviceform_submit
{
width: 20%;
height: 10%;
background-color: #222;
top: 50%;
left: 50%;
transform: translate(175%, 33%);
font-family: michroma;
font-size: 0.8vw;
padding-bottom: 1.5%;
color: white;
border: 0.2em outset #999;
text-decoration: none;
}

.serviceform_message
{
border: none;
width: 87%;
height: 21.3%;
margin-top: 0.5%;
background-color: #222;
padding: 0.7%;
font-family: asgalt;
font-size: 1.5vw;
color: white;
text-decoration: none;
}

#services_buttons
{
position: absolute;
margin-top: 20%;
right: 1%;
width: 37%;
height: 62%;
}

#contact_facebook
{
position: absolute;
width: 50%;
height: 10%;
color: #f8be78;
background-color: #222;
text-align: center;
text-decoration: none;
font-size: 2vw;
font-family: michroma;
padding-bottom: 3%;
border: 0.09em solid #f8be78;
border-radius: 0.2em;
}

#contact_whatsapp
{
position: absolute;
width: 50%;
height: 10%;
margin-top: 20%;
color: #f8be78;
background-color: #222;
text-align: center;
text-decoration: none;
font-size: 2vw;
font-family: michroma;
padding-bottom: 3%;
border: 0.09em solid #f8be73;
border-radius: 0.2em;
}

#whatsapp_number
{
position: absolute;
width: 50%;
height: 10%;
margin-top: 20%;
color: #f8be78;
background-color: #222;
text-align: center;
text-decoration: none;
font-size: 2vw;
font-family: michroma;
padding-bottom: 3%;
border: 0.09em solid #f8be78;
border-radius: 0.2em;
display: none;
}

/*=========LAYER 2_2 END===========*/

/*=========LAYER 3 ===========*/
#layer_3
{
position: absolute;
width: 100%;
height: 200%;
display: none;
}

#about_container
{
position: absolute;
width: 80%;
height: 22%;
margin-top: 13%;
left: 10%;
}

#flowery_about_container
{
margin-top: -31.5%;
width: 99%;
height: 99%;
overflow: hidden;
}

#about_header_1
{
position: absolute;
margin-top: 2%;	
margin-left: 10%;
color: #f8be73;
font-size: 2.5vw;
font-family: bebasregular;
}

#about_header_2
{
position: absolute;
margin-top: 6%;	
margin-left: 10%;
color: white;
font-size: 6vw;
font-family: bebasregular;
}

#jared_flowery_text
{
margin-left: 2%;
color: #E6ECE5;
font-size: 1.3vw;
font-family: opensansregular;
}

cc
{
color: #555;
}

#back_button
{
position: absolute;
top: 1.5%;
left: 2%;
}

.c_back_button
{
top: 2%;
left: 2%;
fill: #f8be78;
width: 20%;
height: 20%;
}

/*=========LAYER 3 END===========*/

/*=========LAYER 3_1 ===========*/

#layer_3_1
{
position: absolute;
margin-top: 50%;
width: 100%;
height: 55%;
background: -webkit-radial-gradient(#16182c,#131527,#0e0f1c,#05060b);
background: -moz-radial-gradient(#16182c,#131527,#0e0f1c,#05060b);	
background: -o-radial-gradient(#16182c,#131527,#0e0f1c,#05060b);	
background: -ms-radial-gradient(#16182c,#131527,#0e0f1c,#05060b);
}

#about_header_3
{
position: absolute;
margin-top: 8%;	
margin-left: 10%;
color: white;
font-size: 6vw;
font-family: bebasregular;
}

#slider_container
{
width: 57em;
height: 30em;
overflow: hidden;
margin-top: 17%;
margin-left: 25%;
}

#slider_container ul
{
display: block;
width: 456em;
height: 30em;
}

#slider_container li
{
float: left;
list-style-type: none;
width: 57em;
height: 30em;
}

#button_back a
{
position: absolute;
width: 20%;
height: 36%;
top: 50%;
transform: translate(0, -50%);
}

#button_forward a
{
position: absolute;
width: 20%;
height: 36%;
top: 50%;
left: 100%;
transform: translate(-100%,-50%);
}

#little_things_container
{
position: absolute;
width: 100%;
height: 20%;
overflow: hidden;

}

#little_things_container ul
{
margin-left: 28.4%;
margin-top: 3%;
}

#little_things_container li
{
list-style-type: none;
float: left;
padding: 1%;
font-size: 5vw;
font-weight: bold;
font-family: bebaslight;
cursor: url(Resources/cursors/sym57.cur), pointer;
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;	
}



.fix5
{
padding-left: 5%;
color: #3d3d3d;
}

.fix5:hover
{
color: #999;
}

/*=========LAYER 3_1 END===========*/

/*=========LAYER 3_2 ===========*/
/*=========LAYER 3_2 END===========*/

/*=========LAYER 4 ===========*/

#layer_4
{
width: 100%;
height: 300%;
position: absolute;
background: -webkit-linear-gradient(#16182c,#131527,#0e0f1c,#05060b);
background: -moz-linear-gradient(#16182c,#131527,#0e0f1c,#05060b);	
background: -o-linear-gradient(#16182c,#131527,#0e0f1c,#05060b);	
background: -ms-linear-gradient(#16182c,#131527,#0e0f1c,#05060b);
}

#layer4_title
{
position: fixed;
text-align: center;
margin-top: 2%;
width: 100%;
font-family: bebasbold;
font-size: 8vw;
color: #f8be78;
}

nav 
{
position: absolute;
text-align: center;
background-color: #222;
top: 9%;
width: 100%;
z-index: 500;
}

nav ul
{
width: 100%;
}

nav li
{
list-style-type: none;
display: inline-block;
width: 33.15%;
}

nav a
{
text-align: center;
display: block;
text-decoration: none;
font-family: bebasbook;
font-size: 3vw;
color: #855C33;
padding-top: 26.2%;
padding-bottom: 26.2%;
}

nav a:hover
{
-webkit-transition: background-color 2 s ease-in;
-webkit-transition: color 0.2s ease-in;
background-color: #333;
color: #999;
}

.nav1
{
position: fixed;
top: 0;
}

.nav2
{
padding-top: 4.7%;
padding-bottom: 4.7%;
-webkit-transition: padding-top 0.12s ease-in;
-webkit-transition: padding-bottom 0.12s ease-in;
}

.nav3
{
padding-top: 26.2%;
padding-bottom: 26.2%;
-webkit-transition: padding-top 0.2s ease-in;
-webkit-transition: padding-bottom 0.2s ease-in;
}

.l4_titles
{
position: absolute;
top: 13%;
width: 100%;
height: 10%;
}

.l4_titles ul
{
width: 100%;
}

.l4_titles li
{
width: 49.7%;
text-align: center;
display: inline-block;
font-size: 2.5vw;
font-family: bebasbold;
color: #f8be78;
}

#req_services
{
color: red;
}
/*=========LAYER 4 END===========*/

/*=========LAYER 4_1 ===========*/
#layer_4_1
{
position: absolute;
top: 33.3%;
width: 100%;
height: 33.3%;
background-color: #333;
}

#hardware
{
position: absolute;
top: 0;
width: 50%;
height: 100%;
}

#hardware img
{
position: absolute;
display: none;
}

#hardware_content
{
position: absolute;
font-family: michroma;
font-size: 2.5vw;
color: #f8be78;
}

#software
{
position: absolute;
top: 0;
width: 50%;
height: 100%;
margin-left: 50%;
}

#software img
{
position: absolute;
display: none;
}

#software_content
{
position: absolute;
font-family: michroma;
font-size: 2.5vw;
color: #f8be78;
}

.onrepairs
{
color: #fff;
-webkit-transition: color 0.2s ease-in;
}
/*=========LAYER 4_1 END===========*/

/*=========LAYER 4_2 ===========*/
#layer_4_2
{
position: absolute;
top: 66.6%;
width: 100%;
height: 33.3%;
background-color: #444;
}

#laptop
{
position: absolute;
top: 0;
width: 50%;
height: 100%;
}

#laptop img
{
position: absolute;
display: none;
}

#laptop_content
{
position: absolute;
font-family: michroma;
font-size: 2.5vw;
color: #f8be78;
}

#desktop
{
position: absolute;
top: 0;
width: 50%;
height: 100%;
margin-left: 50%;
}

#desktop img
{
position: absolute;
display: none;
}

#desktop_content
{
position: absolute;
font-family: michroma;
font-size: 2.5vw;
color: #f8be78;
}

.onupgrades
{
color: #fff;
-webkit-transition: color 0.2s ease-in;
}
/*=========LAYER 4_2 END===========*/

/*=========LAYER 4_3 ===========*/
/*=========LAYER 4_3 END===========*/
